In [1]:
import pandas as pd
import numpy as np
import os

## Access Token : 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

In [2]:
os.listdir()

['.DS_Store',
 'Dataset',
 'Exploratory_Data_Analysis_Draft1.ipynb',
 'README.md',
 '.gitattributes',
 '.ipynb_checkpoints',
 '.git']

In [3]:
groups_df = pd.read_csv("Dataset/groups.csv")
groups_df.head()

                          groups_id groups_group_type
0  eabbdf4029734c848a9da20779637d03     youth program
1  7080bf8dcf78463bb03e6863887fd715     youth program
2  bc6fc50a2b444efc8ec47111b290ffb8     youth program
3  37f002e8d5e442ca8e36e972eaa55882     youth program
4  52419ff84d4b47bebd0b0a6c1263c296     youth program

In [4]:
groups_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   groups_id          49 non-null     object
 1   groups_group_type  49 non-null     object
dtypes: object(2)
memory usage: 912.0+ bytes

In [5]:
groups_df.groups_group_type.value_counts()

youth program           33
professional network     8
mentorship program       3
cause                    2
club                     1
competition              1
interest group           1
Name: groups_group_type, dtype: int64

In [6]:
groups_df.isna().sum()

groups_id            0
groups_group_type    0
dtype: int64

In [7]:
prof_df = pd.read_csv("Dataset/professionals.csv")
prof_df.head()

,professionals_id,professionals_location,professionals_industry,professionals_headline,professionals_date_joined
0,9ced4ce7519049c0944147afb75a8ce3,NaN,NaN,NaN,2011-10-05 20:35:19 UTC+0000
1,f718dcf6d2ec4cb0a52a9db59d7f9e67,NaN,NaN,NaN,2011-10-05 20:49:21 UTC+0000
2,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000
3,977428d851b24183b223be0eb8619a8c,"Boston, Massachusetts",NaN,NaN,2011-11-09 20:39:29 UTC+0000
4,e2d57e5041a44f489288397c9904c2b2,NaN,NaN,NaN,2011-12-10 22:14:44 UTC+0000

In [8]:
prof_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28152 entries, 0 to 28151
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   professionals_id           28152 non-null  object
 1   professionals_location     25054 non-null  object
 2   professionals_industry     25576 non-null  object
 3   professionals_headline     26085 non-null  object
 4   professionals_date_joined  28152 non-null  object
dtypes: object(5)
memory usage: 1.1+ MB

In [9]:
prof_df.isna().sum()

professionals_id                0
professionals_location       3098
professionals_industry       2576
professionals_headline       2067
professionals_date_joined       0
dtype: int64

In [10]:
prof_df.professionals_location.value_counts(),prof_df.professionals_industry.value_counts(),prof_df.professionals_headline.value_counts()

(New York, New York            1337
 California, California         864
 Greater New York City Area     745
 Boston, Massachusetts          714
 Los Angeles, California        617
                               ...
 Merced, California               1
 Quarryville, Pennsylvania        1
 Amritsar Area, India             1
 Springfield, Ohio                1
 Woodland, California             1
 Name: professionals_location, Length: 2582, dtype: int64,
 Telecommunications                          3166
 Information Technology and Services         2109
 Computer Software                           1272
 Hospital and Health Care                     862
 Higher Education                             800
                                             ...
 Security, Investigations and Criminology       1
 Health psychology, Wellness and Fitness        1
 Project management, event managemebt           1
 Hospital Pharmacy                              1
 Mobility and Entertainment                     1
 Name: professionals_industry, Length: 2470, dtype: int64,
 --                                                           325
 Solutions Manager                                            168
 Assurance Associate at PwC                                    88
 General Manager                                               70
 Software Engineer                                             67
                                                             ...
 Lpn hard at work                                               1
 Assistant Projects Officer at MTN BUSHFIRE                     1
 Registered Nurse (BSN)                                         1
 Vice President - Sales at Occidental Chemical Corporation      1
 Director - Program and Project Management                      1
 Name: professionals_headline, Length: 22272, dtype: int64)

In [11]:
prof_df.professionals_date_joined.min(),prof_df.professionals_date_joined.max()

('2011-10-05 20:35:19 UTC+0000', '2019-01-31 23:59:09 UTC+0000')

In [12]:
tag_ques_df = pd.read_csv("Dataset/tag_questions.csv")

In [13]:
tag_ques_df.head()

   tag_questions_tag_id         tag_questions_question_id
0                 28930  cb43ebee01364c68ac61d347a393ae39
1                 28930  47f55e85ce944242a5a347ab85a8ffb4
2                 28930  ccc30a033a0f4dfdb2eb987012f25792
3                 28930  e30b274e48d741f7bf50eb5e7171a3c0
4                 28930  3d22742052df4989b311b4195cbb0f1a

In [14]:
tag_ques_df.info(),tag_ques_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76553 entries, 0 to 76552
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tag_questions_tag_id       76553 non-null  int64
 1   tag_questions_question_id  76553 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

(None,
 tag_questions_tag_id         0
 tag_questions_question_id    0
 dtype: int64)

In [ ]:
mails_1 = pd.read_csv("Dataset/emails_part1.csv")
mails_2 = pd.read_csv("Dataset/emails_part2.csv")

emails_df = pd.concat([mails_1,mails_2],ignore_index=True)
emails_df.head()

In [ ]:
emails_df.info(),emails_df.isna().sum()

In [ ]:
emails_df.emails_frequency_level.value_counts()

In [ ]:
emails_df.emails_date_sent.min(),emails_df.emails_date_sent.max()

In [ ]:
answers_df = pd.read_csv("Dataset/answers.csv")
answers_df.head()

In [ ]:
answers_df.isna().sum()

In [ ]:
answers_df.answers_date_added.min(),answers_df.answers_date_added.max()

In [ ]:
group_mem = pd.read_csv("Dataset/group_memberships.csv")
group_mem.head()

In [ ]:
group_mem.isna().sum()

In [ ]:
tag_users_df = pd.read_csv("Dataset/tag_users.csv")
tag_users_df.head()

In [ ]:
match_1 = pd.read_csv("Dataset/matches_part1.csv")
match_2 = pd.read_csv("Dataset/matches_part2.csv")

matches_df = pd.concat([match_1,match_2],ignore_index=True)
matches_df.head()

In [ ]:
ans_score_df = pd.read_csv("Dataset/answer_scores.csv")
ans_score_df.head()

In [ ]:
ans_score_df.score.sort_values(ascending=True).value_counts()

In [ ]:
ans_score_df.isna().sum()

In [ ]:
tags_df = pd.read_csv("Dataset/tags.csv")
tags_df.head()

In [ ]:
comments_df = pd.read_csv("Dataset/comments.csv")
comments_df.head()

In [ ]:
questions_df = pd.read_csv("Dataset/questions.csv")
questions_df.head()

In [ ]:
questions_df.questions_date_added.min(),questions_df.questions_date_added.max()

In [ ]:
questions_df.info()

In [ ]:
school_mem = pd.read_csv("Dataset/school_memberships.csv")
school_mem.head()

In [ ]:
ques_scores_df = pd.read_csv("Dataset/question_scores.csv")
ques_scores_df.head()

In [ ]:
ques_scores_df.score.sort_values(ascending=True).value_counts()

In [ ]:
students_df = pd.read_csv("Dataset/students.csv")
students_df.head()

In [ ]:
students_df.students_location.value_counts()

In [ ]:
students_df.info()

In [ ]:
students_df.students_date_joined.min(),students_df.students_date_joined.max()

In [ ]:
students_df.students_location = students_df.students_location.fillna("No Location Provided")

In [ ]:
students_df['students_date_joined'] = pd.to_datetime(students_df['students_date_joined']).dt.date
students_df.head()

In [ ]:
students_df.students_date_joined.min(),students_df.students_date_joined.max()

In [ ]:
students_df['students_location'].value_counts()[:30].plot(kind='bar',figsize=(15, 5))

In [ ]:
students_df['students_date_joined'].value_counts().plot(kind='line',figsize=(15, 5))

In [ ]:
students_df['month_joined'] =students_df['students_date_joined'].apply(lambda x: x.strftime('%Y-%m')) 
students_df.head()

In [ ]:
students_df.month_joined.max(),students_df.students_date_joined.max()

In [ ]:
students_df['month_joined'].value_counts().sort_values(ascending=True).plot(kind='line',figsize=(15, 5))

In [ ]:
prof_df.info()

In [ ]:
prof_df['professionals_location'].value_counts()[:30].plot(kind='bar',figsize=(15, 5))

In [ ]:
prof_df['professionals_industry'].value_counts()[:30].plot(kind='pie',figsize=(15, 5))

In [ ]:
prof_df['professionals_headline'].value_counts()[:30].plot(kind='bar',figsize=(15, 5))

In [ ]:
prof_df['professionals_date_joined'] = pd.to_datetime(prof_df['professionals_date_joined']).dt.date
prof_df['professionals_date_joined'].value_counts().plot(kind='line',figsize=(15, 5))

In [ ]:
prof_df['month_joined'] =prof_df['professionals_date_joined'].apply(lambda x: x.strftime('%Y-%m')) 
prof_df.head()

In [ ]:
prof_df['month_joined'].value_counts().sort_values(ascending=True).plot(kind='line',figsize=(15, 5))

## Analysis on Students

In [ ]:
stu_ques_df = students_df.merge(questions_df,left_on='students_id',right_on='questions_author_id',how='left')
stu_ques_df.head()

In [ ]:
stu_ques_df.shape,students_df.shape

In [ ]:
stu_ques_df[['students_id','questions_id']].isna().sum()

In [ ]:
stu_ques_df.students_id.value_counts()

In [ ]:
stu_ques_df.students_date_joined.max()

In [ ]:
students_activity_df = stu_ques_df[['students_id','students_date_joined']].drop_duplicates()
students_activity_df.head()

In [ ]:
students_activity_df['stu_membership_duration'] = students_activity_df.students_date_joined.max() - students_activity_df.students_date_joined
students_activity_df.head()

In [ ]:
students_activity_df.stu_membership_duration.sort_values(ascending=True)

In [ ]:
student_grp_df = students_df.merge(group_mem,left_on = 'students_id',right_on='group_memberships_user_id',how='left').drop(columns='group_memberships_user_id')
student_grp_df

In [ ]:
student_grp_df.isna().sum(),student_grp_df.shape

In [ ]:
student_grp_df = student_grp_df.merge(groups_df,left_on = 'group_memberships_group_id',right_on='groups_id',how='left').drop(columns=['group_memberships_group_id','groups_id'])
student_grp_df.head()

In [ ]:
student_grp_df.groups_group_type.value_counts()

In [ ]:
student_grp_df.groups_group_type = student_grp_df.groups_group_type.fillna("No Group")

In [ ]:
student_grp_df.groups_group_type.value_counts()

In [ ]:
student_grp_df.head()